<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="hercules-automation Suite">

    <test name="All Tests">
        <classes>

            <class name="tests.HomeTest"/>
            <class name="tests.QuestionsTest"/>
            <class name="tests.PricingTest"/>
            <class name="tests.SettingsTest"/>

        </classes>
    </test>

</suite>